$pdfViewerHeight: 390px;
$pdfContentWidth: 1000px;

.pdfViewer {
  width: 100%;
  height: $pdfViewerHeight;
  background-color: transparent;
  border-radius: 0;
  display: flex;
  flex-direction: row;
}

.pdfLeftSideView {
  width: 40px;
  height: $pdfViewerHeight;
  background-color: #dee7eb;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.sideMenuToggle {
  position: relative;
  top: 10px;
}

.pdfExample {
  width: $pdfContentWidth;
  height: $pdfViewerHeight;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: auto;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.pdfContent {
  width: 100%;
  height: 460px;
  background-color: pink;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
