@use "src/styles/drawer";

.main {
  flex-grow: 1;
  padding: 24px;
  transition: margin 0.3s ease-out;
  margin-left: -(#{drawer.$drawer-width});
}

.mainOpen {
  margin-left: 0;
}

// pdfViewerPosition style
// is used to center the pdf
// viewer.
.pdfViewerPosition {
  display: flex;
  justify-content: center;
  align-items: center;
}
