/* List Item Styling */
li {
    width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}

.header {
    margin-bottom: 20px;
}

button {
    position: relative;
    /* Establish a reference point for the pseudo-element */
    background-color: transparent;
    border: none;
    padding: 2px;
    /* Initial padding for the button */
    outline: none;
    cursor: pointer;
    z-index: 1;
    /* Ensure the button stays above the pseudo-element */
    transition: all 0.3s ease;
    /* Smooth transition for any button properties */
}

button::before {
    content: "";
    /* Empty content for the pseudo-element */
    position: absolute;
    top: -5px;
    /* Expand the background beyond the button's boundaries */
    left: -5px;
    right: -5px;
    bottom: -5px;
    background-color: #ececec;
    z-index: -1;
    /* Place the background behind the button */
    border-radius: 4px;
    /* Optional: add rounded corners if needed */
    opacity: 0;
    /* Start fully transparent */
    transition: all 0.3s ease;
    /* Smooth transition for hover effect */
}

button:hover::before {
    opacity: 1;
    /* Make the pseudo-element visible on hover */
}


/* Default styles for doc-button */
.doc-button {
    cursor: pointer;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    text-align: left;
    /* width: 100%; */
}

.doc-button {
    width: 100%;
}

.doc-button.active {
    background-color: #ececec;
}

/* HStack (Horizontal Stack) */
.hstack {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
}

/* VStack (Vertical Stack) */
.vstack {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

/* Ensure child elements have no margin or padding */
.hstack>*,
.vstack>* {
    margin: 0;
    padding: 0;
    flex-shrink: 0;
}



/* Remove border and shadow globally */
.hstack,
.vstack,
.hstack>*,
.vstack>* {
    border: none;
    box-shadow: none;
}

/* Right Align Specific Elements */
.right-align {
    margin-left: auto;
    /* Push this element to the far right */
}

/*SEARCH FORMATTING


/* Popup overlay background */
.search-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Popup content */
.search-popup-content {
    background: white;
    width: 60%;
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    position: relative;
}

/* Close button */
.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #333;
    font-size: 1.5rem;
    cursor: pointer;
}

.close-popup:hover {
    color: #e74c3c;
}
