/* general pdf top view style */
.pdfTopView {
  /*general pdf top view style */
  width: 1000px;
  height: 40px;
  background-color: #dee7eb;
  border-radius: 16px 16px 0px 0px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);

  /*content layout inside pdf top view*/
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

/* ----top view content layout section --- */
/* top view content padding */
.pdfTopView .topbar-search {
  padding-left: 10px;
  padding-right: 15px;
}

.pdfTopView .page-display {
  padding-left: 5px;
  padding-right: 5px;
  & > * {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.pdfTopView .zoom-control {
  & > * {
    padding-left: 5px;
    padding-right: 5px;
  }
}

/* svg button icons style */
.pdfTopView i {
  font-size: 14px;
}

/* input page indicator style */
.pdfTopView input {
  width: 30px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
}

/* zoom control position style */
.zoom-control {
  position: absolute;
  left: 45%;
}

/* ----button style section---- */
/* button box style */
button {
  background-color: transparent;
  box-shadow: none;
}

button:hover {
  background-color: transparent;
  opacity: 1;
}
